
.App {
  text-align: center;
  background-color: whitesmoke;
  height: 21.1cm;
  width: 42cm;
  box-sizing: border-box;
  padding: 130px 90px 90px;
  margin: 10px;
  border-radius: 10px;
  
}
input{
  height: 1px;
}
#deco{
  background-position: left center;
  text-align: center;
  background-color: teal;
  
}
.zone1{
  background-color: white;
  height: 13cm;
  box-sizing: border-box;
  padding: 18px 10px 10px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}
.cadrant{
  background-color: black;
  color: white;
  height: 12cm;
  width: 36.5cm;
  box-sizing: border-box;
  padding-top: 50px;
}

label#Date{
  height: 1cm;
  
}

label#Horloge{
  height: 1cm;

}

input{
  width: 2cm;
  height: 0.5cm;
  margin-right: 1cm;
}

div#contenu{
  background-color: turquoise;
  display:none;
  height: 5cm;
  width: 13cm;
  border-radius: 10px;
}

button#Changer, button#Annuler{
  height: 1cm;
  width: 3cm;
  background-position-y: bottom;
}
button#Annuler{
  margin: 2.5cm 5px 5px 5cm;
}
button#Changer{
  margin-top: 2.5cm;
  margin-right: 5px;
}

